.navigation-row {
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
    display: flex;
}

.navigationItemIcon {
    justify-content: center;
    vertical-align: middle;
    padding-top: 6px;
    padding-bottom: 6px; 
    padding-right: 22px;
    padding-left: 6px;
}

.navigationItemLabel {
    display: none;
    vertical-align: middle;
    color: #8F8F8F;
    size: 15px;
    font-weight: bold;
    transition: .15s;
    text-decoration: none;
    padding-top: 6px;
    padding-bottom: 6px; 
    padding-left: 7px;
}

.subTab {
    background: #302c2c;
    margin-left: -22px;
    transition: .15s;
}

.subNavLabel {
    padding-left: 80px;
}