.navigation {
    height: 100%;
    width: 80px;
    background-color: #262626;
    position: absolute;
    top: 0;
    transition: 0.15s;
    box-sizing: border-box;
    padding-left: 22px;
    padding-top: 20px;
}

#navigationFixedTabs {
    box-sizing: border-box;
    position: fixed;
    bottom: 0px;
    width: 58px;
}

.navigationHovering:hover {
    width: 375px;
}

#appName {
    display: none;
    color: #8F8F8F;
    size: 15px;
    padding-left: 20px;
}

.navigationHovering:hover #appName {
    display: block;
}

.navigationHovering:hover #search {
    display: block;
    width: 331px;
}

.navigationHovering:hover .navigationItemLabel {
    display: inline-block;
}

.navigationHovering:hover .navigation-row {
    width: 331px;
    transition: .15s;
}

.navigationHovering:hover #navigationFixedTabs {
    width: 331px;
    transition: .15s;
}

.navigationHovering:hover .subTab {
    width: 375px;
}

#heading {
    margin-left: -4px;
    padding-bottom: 24px;
    box-sizing: border-box;
    display: flex;
}

.horizontalBreak {
    margin-left: -22px;
    margin-bottom: 16px;
}

.subNav {
    transition: .15s;
}