
#searchBar {
    box-sizing: border-box;
    display: flex;
    padding-bottom: 45px;
}

#search {
    box-sizing: border-box;
    background-color: #383838;
    border-radius: 30px;
    height: 36px;
    width: 36px;
    transition: .15s;
    padding-left: 35px;
    border: none;
    position: absolute;
}

.searchImage {
    padding: 8px;
}

#searchBar .searchImage {
    position: absolute;
    z-index: 1;
}

#search:focus {
    outline: 0px;
}
